body {
    background-color: #ffffff;
    margin: 0;
    height: 100%;
}
.child-container{
    padding: 10px 5px 5px 5px;
    background-color: #53b0ae;
    border-radius: 20px ;
    border: #53b0ae52 solid 5px;
    color:#fff
}
.container{
    user-select: none;
    max-width: 640px;
    background-color: #fff;
    padding-bottom: 50px;
}
.btn{
    background-color: #39b8bd;
}
.button-container {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center;    /* 垂直置中 */
}
.no-display{
    display: none;
}
