body {
    background-color: #ffffff;
    margin: 0;
    height: 100%;
}
.child-container{
    padding: 10px 5px 5px 5px;
    background-color: #ffffff;
    border-radius: 20px ;
    border: #53b0ae52 solid 5px;
    color:#000000
}
.container{
    user-select: none;
    max-width: 640px;
    background-color: #fff;
    padding-bottom: 50px;
}
.btn{
    background-color: #39b8bd;
    border:1px #39b8bd solid;
}
.btn:hover{
    background-color: #1bf0f7;
    color:black;
    border:1px #1bf0f7 solid;
}
.button-container {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center;    /* 垂直置中 */
}
.no-display{
    display: none;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #808e94;
    }
    h1{
        color:white;
    }
    .container{
        user-select: none;
        max-width: 640px;
        background-color: #808e94;
        padding-bottom: 50px;
    }
    .child-container{
        padding: 10px 5px 5px 5px;
        background-color: #808e94;
        border-radius: 10px ;
        border: #31445352 solid 3px;
        color:#ffffff
    }
    .btn{
        background-color: #8cb8ba;
        border:3px #8fb9bd solid;
    }
    .btn:hover{
        background-color: #cdeff1;
        color:black;
        border:1px #cdeff1 solid;
    }
    a{
        color:#1bf0f7;
    }
}